@import "bootstrap-sprockets";
@import "bootstrap";
.user-info {
  margin-top: 14px;
  margin-right: 10px;
  text-align: right;
}

.nav {
  border-bottom: none;
}
.main {
  width: 100%;
  text-align: center;
  color: #331a00;
  margin: -75px auto;
}

.heading {
  margin: 100px auto 50px;
  font-family: 'Archivo Black', sans-serif;
  color: #ffa64d;
  font-size: 160px;
}

.subheading {
  color: #ffa64d;
  font-size: 30px;
}

.why {
  background-color: #336699;
  width: 100%;
  height: 450px;
  margin: 50px 0px;
  padding: 40px 20px;
  color: white;
}

.why p, .premium p{
  font-size: 16px;
}

.premium {
  background-color: #ffa64d;
  width: 100%;
  height: 450px;
  margin: 50px 0px;
  padding: 40px 20px;
  color: white;
}

.start {
  color: #336699;
  text-align: center;
  width: 100%;
  margin-bottom: 80px;
}

.start a:hover {
  text-decoration: none;
}

tr:nth-child(even) {background-color: #f2f2f2}

table {
  border: 1px solid black;
  table-layout: fixed;
  width: 400px;
}

td {
  padding: 15px;
  border-left: 1px solid black;
  width: auto;
}
.center {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: center;
  display: block;
  padding: 20px;
}

.nav-tabs li a:hover {
  background-color: #ffbf80;
  border-radius: 0px;
}
.nav-tabs .logo a:hover {
  background-color: #ffa64d;
}
.nav-tabs li.logo {
  background-color: #ffa64d;
  font-family: 'Archivo Black', sans-serif;
  color: white;
}
.nav-tabs .logo a {
  color: white
}

.ion {
     font-size: 8rem;
     margin: 15px auto;
 }
